<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title </title>
</head>
<body>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">

    function queryUser(){
        var userPage={
            page: 1,
            size: 10,
            login_name: "admin"
        }
        var jsondata=JSON.stringify(userPage);
        console.log(jsondata);
        $.ajax({
            type:"POST",
            url:"/user",
           // dataType: "json",
            //data:{},
            //dataType:"json",
            //contentType: "application/x-www-form-urlencoded",
            data: jsondata,
            //data: edit_form.serializeArray(),
            headers: {"content-type": "application/json"},
            success:function(data){
                console.log(data);
                $("#result").html(data);
            },
            error: function(e){
                console.error(e);
            }

        });
    }

    function logout(){
        location.href = '/logout';
    }
</script>
<button onclick="queryUser()">点击查询用户</button>
<button onclick="logout()">登出</button>
<div id="result"></div>
<form id="edit_form">
    <input type="hidden" value="1" name="page" />
    <input type="hidden" value="10" name="size" />
    <input type="hidden" value="admin" name="login_name" />
</form>

<!-- 全局js -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- 验证插件 -->
<script src="/static/ajax/libs/validate/jquery.validate.min.js"></script>
<script src="/static/ajax/libs/validate/messages_zh.min.js"></script>
<script src="/static/ajax/libs/layer/layer.min.js"></script>
<script src="/static/ajax/libs/blockUI/jquery.blockUI.js"></script>
<script src="/static/ruoyi/js/ry-ui.js"></script>
</body>
</html>