<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    function loginBy(){
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
        var loginUser={
            login_name: username,
            password: password
        }
        var jsondata=JSON.stringify(loginUser);
        console.log(jsondata);
        $.ajax({
            type:"POST",
            url:"/login_in",
            // dataType: "json",
            //data:{},
            //dataType:"json",
            //contentType: "application/x-www-form-urlencoded",
            data: jsondata,
            //data: edit_form.serializeArray(),
            headers: {"content-type": "application/json"},
            success:function(data){
                console.log(data);
            },
            error: function(e){
                console.error(e);
            }

        });
    }
</script>
<div>
    <div id="f">
    <input type="text"     name="username"     placeholder="用户名" value="admin"    />
    <input type="password" name="password"     placeholder="密码"   value="123456" />
        <button onclick="loginBy()">登录</button>
    </div>
</div>


</body>
</html>